body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.show{
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.windowdiv{
  overflow-x: hidden;
}


/* Nav css */
.nav{
width: 100%;
background-color: white;
display: flex;
justify-content: flex-end;
align-items: center;
}
.navul{
  display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
padding: 5px 0px;
width: 75%;
margin: auto 0px;
list-style: none;

}
.navul li{
  display: flex;
  justify-content: center;
  align-items: center;
list-style: none;
font-size:14px;
box-sizing: border-box;
font-weight: 500;
text-transform: capitalize;
}


/* navbar css */
.navbar{
box-sizing: border-box;
width: 100%;
background-color: #1B1464;
display: flex;
justify-content: center;
align-items: center;
}
.hamburger{
  color: white;
  font-size: 35px;
  display: none;
  margin-right: 10px;
}
.hamburger1{
color: white;
font-size: 35px;
margin-right: 10px;
display: none;
}

.navbarul1{
width: 15%;
display: flex;
align-items: center;
justify-content: space-between;
margin: auto 0;
padding-left: 70px;
}

.navbarul1 h1{
  color: white;
  font-size: 25px;
  margin: auto 0px;
}

.navbarul2{
width:70% ;
justify-content:end;
display: flex;
align-items: center;
color: white;
margin: auto 0px;
line-height: 100%;
flex-wrap: wrap;
}
.navbarul2 li{
  list-style: none;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  padding: 15px 10px;
}
.arrow{
 margin-left: 3px;
 margin-top: 3px;
}
.navbarul3{
  width: 15%;
  display: flex;
  justify-content:start;
  align-items: center;
line-height: 100%;
margin: auto 0;
}

/* .searchcontent{
  width: 100px;
} */
.search{
  font-size: 27px;
  padding: 3px 3px;
  /* background-color:rgba(255, 68, 0, 0.486); */
  color:white;
  border-radius: 50px;
  cursor: pointer;
  margin-right:30px ;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: transparent;
  position: absolute;
  right: 0;

}
.search-box{
  /* background-color: aqua; */
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 20px;
}
.searchtext{
width: 0px;
/* padding: 8px 10px; */
transition: all 0.5s linear;
outline: none;
border-radius: 20px;
border: none;
margin-right:30px ;
}
.search-box:hover .search{
  background-color: white;
  color: black;
}
.search-box:hover .searchtext{
  width: 120px;
  padding: 8px 10px;
}



.navbarul3 button{
  border: none;
  height: 40px;
  border-radius: 10px;
  color: darkblue;
  padding: 0px 15px;
font-weight: 500;
margin-right: 20px;
}
/* .searchicon{
  position: relative;
} */
.menu{
  width: 50%;
  display: flex;
  justify-content: end;
}

/* knowmore css */

.knowmore1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  padding-left: 70px;
}
.rightarrow{
color: white;
font-size: 25px;
}
.knowmorediv1{
width:50%;
padding: 60px 0px;
}
.knowmorediv1 h1{
  color: #1B1464;
  text-transform: capitalize;
  font-size: 25px;
}
.knowmorediv1 p{
  color:#1B1464;
}
.knowmorediv1 button{
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #1B1464;
  color: white;
  text-transform: capitalize;
}
.knowmorediv2{
width:50%;
display: flex;
align-items: center;
justify-content: end;
}
.dots{
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.maindot{
  font-size: 50px;

}
.svg{
  width: 100%;
  height: 300px;
}

/* Quick css */
.quick{
width: 100%;
color: white;
padding: 30px 70px;
}
.quick h2{
  font-size: 19px;
  text-transform: capitalize;
}
.quick p{
  font-size: 15px;
  text-transform: capitalize;
}
.quickdiv1 h2{
  font-size: 20px;
}

.quicknested{
display: flex;
width: 100%;
}
.quicknested1{
  width: 50%;
}
.quicknested1 h2{
  font-size: 18px;
  text-transform: capitalize;
}
.quicknested2 h2{
  font-size: 18px;
  text-transform: capitalize;
}
.quicknested2{
  width: 50%;
  font-size: 10px;
}

/* Quicklink css */
.quicklink1{
  background-color: #00a8ff;
  width: 33.33%;
}
.quicklink2{
  background-color: #0097e6;
  width: 33.33%;
}
.quicklink3{
  background-color: #1B1464;
  width: 33.33%;
}
.quicklink{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}


/* schedulecmp */
.schedulecmp{
width:100%;
display: flex;
justify-content: center;
align-items: center;
/* background-color: red;
border: 2px solid black; */
height: 100%;
}
.schedulecmp1{
width: 30%;
text-align: center;
/* background-color: brown; */
height: 100%;
display: flex;
justify-content: center;
align-items: flex-start;
position: relative;
}
.schedulecmp2{
width: 70%;
height: 100%;
}
.schedulecmp2 h4{
font-size: 18px;
/* line-height: 8px; */
color: #1B1464;
}
.schedulecmp2 p{
font-size: 15px;
}
.scheduleicon{
  width: 40px;
}

/* schedule css */
.schedule{
background-color: white ;
display: flex;
width: 100%;
padding: 40px 0px;
}
.schedulediv1{
width: 25%;
border-right: 2px solid grey;
padding-left: 70px;
display: flex;
justify-content: start;
align-items: center;
}
.schedulediv1 h2{
font-size: 25px;
text-transform:capitalize ;
color: #1B1464;

}
.schedulediv1 p{
font-size: 13px;

}
.scheduledivv{
  width: 100%;
  background-color: white;
  display: flex;
}
.schedulediv2{
display: flex;
width: 25%;
display: flex;
justify-content: space-around;
align-items: center;
}
.schedulediv3{
  display: flex;
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
  .schedulediv4{
    display: flex;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
.upcoming{
  width: 70%;
}


/* slide css */
.slide{
padding-left: 50px;
width: 100%;
margin-bottom: 30px;
}
.slide1{
text-align: center;

}
.underdiv{
  width:90%;
  background-color: #1B1464;
  border-radius: 10px;
  color: white;
  padding: 30px 20px;
  text-align: start;
}
.underdiv h3{
font-size: 20px;
}
.underdiv p{
font-size: 15px;
font-weight: lighter;
}
.righticon{
  font-size: 24px;
  margin-left: 10px;
}

/* count css */
.count{
  background-color: rgb(231, 231, 231);
  padding-left: 70px;
}
.countt{
  display: flex;
  width: 100%;
  margin-top: 50px;
  width: 100%;
}
.count1,.count2,.count3,.count4{
  width: 25%;
}


/* countcmp css */
.countcmp{
  width: 100%;
 /* padding-left: 70px; */
 padding-right: 20px;
 padding-top: 30px;
 padding-bottom: 25px;
}
.countcmp h6{
font-size: 16px;
font-weight: 400;
color:#1B1464;
}
.countcmp h1{
font-size:55px;
color:#1B1464;
}
.countcmp h5{
font-size: 18px;
color:#1B1464;
}
.countcmp p{
font-size: 14px;
color:#1B1464;
}

/* mid css */
.mid{
  display: flex;
  width: 100%;
  background-color: #0c2461;
  padding: 20px 0px;
}
.mid1{
  display: flex;
  width: 25%;

}
.mid2{
  width: 25%;
  /* border: 1px solid black; */
}
.middiv{
  display: flex;
 padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background-color: blueviolet; */
  height: 100%;
}
.middiv button{
  border: none;
  margin-right: 10px;
  padding: 2px 10px;
  border-radius: 10px;
  background-color: white;
}


/* midcmp css */
.midcmp{
  width: 33.3%;
  /* border: 2px solid black; */
  padding-left: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.midcmp1{
  width: 170px;
  /* border: 1px solid black; */
}
.midcmp1 p{
  font-size: 14px;
  color: #4a69bd;
  font-weight: 400;
  text-transform: capitalize;
}
.midcmp1 h5{
  color: white;
}
.left{
  font-size: 25px;
  color: #4a69bd;
}
.right{
  font-size: 25px;
  color: #4a69bd;
}

/* buissnesscmp css */
.buissnesscmp{
width: 30%;
/* border: 2px solid black; */
box-shadow: 3px 3px 5px lightgray;
border-radius: 20px;
margin: 0px 10px;
flex-wrap: wrap;
}
.buissnesscmp1{
height: 200px;
background-color: blueviolet;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
background-image: url("./images/work.jpg");
background-size: cover;
}
.buissnesscmp11{
  height: 200px;
  background-color: blueviolet;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-image: url("./images/work1.jpg");
  background-size: cover;
  }
  .buissnesscmp111{
    height: 200px;
    background-color: blueviolet;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-image: url("./images/work3.jpg");
    background-size: cover;
    }

.buissnesscmp1 p{
  width: 35%;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #48dbfb;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 15px;
  font-weight: 500;
}
.buissnesscmp11 p{
  width: 35%;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #48dbfb;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 15px;
  font-weight: 500;
}
.buissnesscmp111 p{
  width: 35%;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #48dbfb;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 15px;
  font-weight: 500;
}
.buissnesscmp2{
  border-radius: 10px;
  padding: 20px 15px;
}
.buissnesscmp2 p{
font-size: 15px;
}
.buissnesscmp2 h5{
  font-size: 16px;
  color: #1B1464;
}

/* buissness css */

.buissness{
  display: flex;
  justify-content: space-between;
  padding: 0px 70px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 35px 0px;
  width: 100%;
  flex-wrap: wrap;
}
.buissness1{
width: 100%;
}


/* subscribe css */
.subs{
  padding: 50px 0px;
  /* border: 2px solid black; */
}
.subscribe{
width: 100%;
padding: 0px 70px;
}
.subscribe1{
width: 50%;
}
.subscribe1 h5{
font-size: 20px;
text-transform: capitalize;
color:#1B1464 ;
font-weight: 700;
}
.subscribe1 p{
font-size: 14px;
line-height: 20px;
}
.sub1{
width: 50%;
display: flex;
width: 100%;
}
.sub1 input{
  margin-right: 10px;
  width: 70%;
  border: 2px solid gray;
  border-radius: 6px;
  height: 45px;
  padding: 0px 15px;
}
.sub1 button{
border: none;
/* padding: 10px 10px; */
background-color: #1B1464;
border-radius: 10px;
color: white;
width: 25%;
height: 45px;
font-size: 14px;
}
.button{
  font-size: 21px;
}
.subscribe2{
width: 50%;
padding-top: 20px;
/* border: 2px solid black; */
}
.sv{
height: 200px;
width: 100%;
}

/* footer css */
.footerfull{
  width: 100%;
  background-color: #1B1464;
  color: white;
display: flex;
justify-content: center;
}
.footer{
  width: 100%;
  padding: 0px 70px ;
}
.footerdiv1{
height: 100%;
padding-top: 40px;
font-size: 14px;
}
.footerdiv1 h5{
 margin-bottom: 15px;
 text-transform: capitalize;
}
.footerdiv2{
  height: 100%;
padding-top: 40px;
text-align: center;
}
.footerdiv2 h5{
text-transform: capitalize;
margin-bottom: 15px;
}
.links{
width: 100%;
display: flex;
justify-content: center;
}
.sociallink{
  font-size: 25px;
margin-left: 10px;
margin-right: 10px;
}
.footerdiv3{
  height: 100%;
padding-top: 40px;
padding-right: 20px;
}
.footerdiv3 h5{
  text-transform: capitalize;
  margin-left: 10px;
  margin-bottom: 15px;
}
.headoffice1{
  width: 100%;
  display: flex;
  line-height: 20px;
  font-size: 14px;
}

.logo{
font-size: 45px;
padding-right: 5px;
padding-left: 5px;
height: 40px;
padding-bottom: 10px;
}

.headoffice2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #172c80;
  color: white;
}
.headoffice2 p{
  margin: auto 0px;
  padding: 13px 0px;
}
/* section css */
.sectionback{
   background-color: rgb(231, 231, 231);
}
.sectionnest{
  display: flex;
  justify-content:flex-start;
  width: 100%;
  align-items: center;
}
.sectionnest1{
color: blue;
font-size: 28px;
text-transform: capitalize;
margin-right: 25px;
}

.sectionnest2{
font-weight: 700;
font-size: 35px;
text-transform: capitalize;
margin-right: 25px;
position: relative;
}

.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 15px 20px;

}
.heading1{
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 15px 70px;
color: #0c2461;
}
.heading h2{
  margin: auto 0px;
  color: #0c2461;
}
.heading p{
  margin: auto 0px;
  font-size: 14px;
  color: #0c2461;
}
.div{
  padding: 20px 0px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

.view{
font-size: 25px;
color: #0c2461;
margin-bottom: 3px;
}
.image{
  width: 100%;
  border-radius: 5px;
}
.image1{
  position: relative;
}
.videoplay{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
color: white;
  font-size: 50px;
  margin-bottom: 20px;
}
.div1{
  padding: 10px 10px;
  background-color: white;
  width: 100%;
  border-bottom: 2px solid lightgray;
}
.divv1{
  padding: 10px 10px;
}
.div2{
  padding: 0px 10px;
  flex-direction: column;
}
.div2 h5{
text-transform: capitalize;
color: #0c2461;
}
.div2 p{
font-size: 15px;
}
 .sections{ 
  /* border: 2px solid red; */
} 
.elements{

  margin-left: 70px;
  border-radius: 10px;
}
.element1{
  padding: 5px;
  background-color: white;
  border-radius: 10px;
 margin-bottom: 20px;
}
.element1:nth-child(2){
  background-color: red;
}
.sectiondiv1{
  padding-left: 20px;
  width: 100%;
}
.eagle{
  font-size: 20px;
 margin-bottom: 5px;
}
.circle{
  color:rgba(0, 0, 0, 0.63);
position: absolute;
top: 15px;
left: 105px;
}
/* sectioncmp css */
.sectioncmp1{
  height: 100%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  position: relative;
}
.cmp1{
  background-color: #3498db;
  color: white;
  /* border: 2px solid black; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  padding-top: 20px;
  height: 120px;
}
.cmp2{
  background-color: #0c2461;
  /* border: 2px solid black; */
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot{
  font-size: 60px;
  position: absolute;
  color: rgba(0, 0, 0, 0.705);
 padding: 0;
 top: -10px;
 left: -0px;
}
.dott{
  font-size: 60px;
  position: absolute;
  color: rgba(0, 0, 0, 0.705);
 padding: 0;
 top: -10px;
 right: 0px;
}



.cmp{
  width: 100%;
  /* height: 30px; */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.sectioncmp2{
  padding: 0px 20px;
}
.sectioncmp2 h5{
color:#0c2461 ;
text-transform: capitalize;
}
.sectioncmp2 p{
  font-size: 14px;
}
.timedate{
color: blue;
}
.link{
color: #1e3799;
font-weight: 500;
}


@media screen and (max-width: 900px) { 
  .navul li{
    width: 33.33%;
    background-color: #1e3799;
    border: 1px solid lightgrey;
    border-radius: 5px;
    /* margin: 2px 2px; */
    padding: 2px 2px;
    color: white;
  }
.hamburger{
  display: flex;
  margin-right: 15px;
}
.navbarul1 h1{
  padding-left: 70px;
}
.navbarul1{
  width: 100%;
padding: 0;
}

.navbarul3{
  width: 100%;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
}
.navbarul23{
  display:none;
}
.navbarul2{
  width: 100%;
padding: 0;
}

.navbarul2 li{
width: 100%;
display: flex;
justify-content: center;
}
.navbarul2 li:hover{
  background-color: cornflowerblue;
}
  .quicklink1{
    width: 100%;
  }
  .quicklink2{
    width: 100%;
  }
  .quicklink3{
    width: 100%;
  }
  .count1,.count2,.count3,.count4{
    width: 100%;
    padding-left: 70px;
  }
  .count{
    padding-left: 0px;
  }
 .countt{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
 }
  .footerdiv2 h5{
   margin-right: 250px;
  }
  .footerdiv2 .links{
    justify-content: start;
  }
  .buissnesscmp{
    width: 100%;
  }
  .elements{
    margin-left: 0px;
  }
  .schedule{
    flex-wrap: wrap;
  }
  .scheduledivv{
    flex-wrap: wrap;
  }
  .schedulediv1{
width: 100%;
border-bottom: 2px solid lightgray;
border-right: none;
margin: 0px 40px;
padding: 0;
  }
.schedulediv2{
  width: 100%;
  padding: 20px 0px;
}
.schedulediv3{
width: 100%;
}
.schedulediv4{
  width: 100%;
}
.sub1{
  display: flex;
  flex-direction: column;
}
.sub1 input{
  width: 100%;
}
.sub1 button{
  margin: 10px auto;
  width: 50%;
}
.mid{
  flex-wrap: wrap;
}
.mid1{
width: 50%;
}
.mid2{
  width: 50%;
}
.navl{
  display: none;
}
.hamburger1{
  display: flex;
}
.nav{
  display: none;
}
.show{
  display: flex;
}
.hide{
  display: none;
}
.navul{
width: 100%;

}
.buissnesscmp{
  margin-bottom: 15px;
}
}

